.login {
  width: 100vw;
  height: 100vh;
  background-color: #1b262c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  display: flex;
  flex-direction: row;
}

.loginLeft {
  background: #0f4c75;
  border-radius: 20px 0px 0px 20px;
  flex-direction: row;
}

.loginRight {
  background: #3282b8;
  border-radius: 0px 20px 20px 0px;
  flex-direction: column;
}

.logintext {
  font-family: 'Segoe Print';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #bbe1fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginLeft,
.loginRight {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.loginLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 800;
  color: #bbe1fa;
  margin: 5px;
}

.loginDesc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 800;
  color: #bbe1fa;
  margin: 5px;
}

.loginBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.loginInput {
  text-align: center;
  width: 255px;
  height: 33px;
  background: #bbe1fa;
  color: #0f4c75;
  border-radius: 10px;
  border: 0px;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  border: none;
  width: 168px;
  height: 34px;
  color: #bbe1fa;
  background: #0f4c75;
  border-radius: 5px;
  margin: 10px;
}

.loginForgot {
  text-align: center;
  color: #3282b8;
}

.line {
  border: none;
  width: 100%;
  height: 2px;
  background: #bbe1fa;
  margin: 10px 0px;
}

.loginRegisterButton {
  border-radius: 5px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #bbe1fa;
}
